INFURA_KEY="" # Infura key for deploying contracts
ALCHEMY_KEY="" # Alchemy key for deploying contracts
MAINNET_FORK="false" # true if mainnet fork enabled
PRIVATE_KEY="" # Private key for deploying contracts>
